
.main {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px; 
  padding: 20px; 
  background-color: #f8f9fa; 

}


.chart-container {
  width: 200px; 
  height: auto; 
  text-align: center; 
  background-color: #ffffff; 
  border: 2px solid #d6e0f5; 
  border-radius: 12px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  transition: transform 0.3s, box-shadow 0.3s; 
}


.chart-container h6 {
  font-size: 16px; 
  font-weight: 600; 
  color: #333333; 
  margin-bottom: 10px;
}


.chart-container:hover {
  transform: scale(1.05); 
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
